* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#il42s{
  width:320px;
  height:480px;
}
#iivp4{
  text-align:left;
}
#i4fsh{
  font-size:42px;
  text-align:left;
}
#i80dr{
  width:640px;
  text-align: justify;
}
#i20lh{
  width:1000px;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
  background-color:rgb(229, 242, 255);
}
[data-aos]{
  opacity:1 !important;
  transform:translate(0px) scale(1) !important;
}
a{
  color:rgb(23, 114, 208);
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
a:focus, a:hover{
  color:rgb(240, 146, 40);
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
body, td, th, tr, p, a{
  font-family:Lato, Verdana, Helvetica, sans-serif;
  font-size:16px;
}
strong{
  font-family:Lato, Verdana, Helvetica, sans-serif;
  font-size:16px;
}
heading{
  font-family:Lato, Verdana, Helvetica, sans-serif;
  font-size:22px;
}
papertitle{
  font-family:Lato, Verdana, Helvetica, sans-serif;
  font-size:16px;
  font-weight:700;
}
name{
  font-family:Lato, Verdana, Helvetica, sans-serif;
  font-size:35px;
}
span.highlight{
  background-color:rgb(255, 255, 208);
}
.map-container{

}
.highlight{
  font-weight:700;
  text-align:left;
  background-color:#ffffff;
}
.c104752{
  width:320px;
}
body, html {  
    margin: 0;  
    padding: 0;  
    font-family: Arial, sans-serif;  
}  
  
.header-bar {  
    display: flex;  
	background-color: #003366; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 0; 
    height: 50px; 
    overflow: hidden;  
}  
 
.header-section a {  
    color: inherit; 
    text-decoration: none;   
    display: block; 
    width: 100%; 
    padding: 0 20px;  
}  
.header-section {  
    flex: 1; 
    text-align: center;  
    line-height: 50px; 
    color: white;
    font-weight: bold;	
} 
  

